<div>
  <h2>Clientes</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Dirección</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.cliente_id }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.apellido }}</td>
        <td>{{ cliente.direccion }}</td>
        <td>
          <button (click)="updateCliente(cliente.cliente_id, cliente)">Actualizar</button>
          <button (click)="deleteCliente(cliente.cliente_id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="addCliente({ cliente_id: 0, nombre: 'Nuevo Cliente', apellido: 'apellido', direccion: 'direccion' })">Añadir Cliente</button>
</div>
