<nav class="navbar">
  <ul class="nav-links">
    <li class="dropdown">
      <a href="#" class="dropbtn">Más <i class="arrow down"></i></a>
      <div class="dropdown-content">
        <a *ngIf="!userLogged"routerLink="/login">Inicio de sesión</a>
        <a *ngIf="userLogged" routerLink="/logout">Cerrar sesión</a>
        <a routerLink="/services">Servicios</a>
        <a routerLink="/about">Sobre Nosotros</a>
        <a routerLink="/contact">Contacto</a>
      </div>
    </li>
  </ul>
</nav>
